<%= render "shared/navbar", shared: @shared %>
<div class="wrapper">
  <div class="container-white">
    <div class="pics-row-1">
      <div class="left-pics">

      </div>
      <div class="right-pics">
        <div class="right-pics-squares"></div>
        <div class="right-pics-squares"></div>
      </div>
      <div class="right-pics">
        <div class="right-pics-squares"></div>
        <div class="right-pics-squares"></div>
      </div>
    </div>

    <div class="pics-row-2">
      <div class="left-pics">
        <div class="left-pics-squares">
        </div>
        <div class="left-pics-squares">
        </div>
      </div>
      <div class="right-pics">
      </div>
    </div>
      <div class="pics-row-1">
      <div class="left-pics">

      </div>
      <div class="right-pics">
        <div class="right-pics-squares"></div>
        <div class="right-pics-squares"></div>
      </div>
      <div class="right-pics">
        <div class="right-pics-squares"></div>
        <div class="right-pics-squares"></div>
      </div>
    </div>
  </div>
</div>
